<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 목록</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <!--/* 검색 */-->
    <div class="search_box">
        <form id="searchForm" onsubmit="return false;" autocomplete="off">
            <div class="sch_group fl">
                <select id="searchType" name="searchType" title="검색 유형 선택">
                    <option value="">전체 검색</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
                <button type="button" class="bt_search" onclick="movePage(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="board : ${boardList.list}">
            <th scope="row">
                <span th:text="${board.id}"></span>
            </th>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.author}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div class="paging">
        <!-- 첫 페이지로 이동하는 링크 -->
        <a th:if="${params.pagination.existPrevPage}" th:href="@{'/?page=1'}" class="page_bt first" >첫 페이지</a>

        <!-- 이전 페이지 그룹으로 이동하는 링크 -->
        <a th:if="${params.pagination.existPrevPage}" th:href="@{'/?page=' + ${params.pagination.startPage - 1}}" class="page_bt prev">이전 페이지 그룹</a>

        <!-- 각 페이지로 이동하는 링크 -->
        <p>
            <th:span th:each="page:${#numbers.sequence(params.pagination.startPage,params.pagination.endPage)}">
                <a th:if="${page != params.page}" th:href="@{/(page=${page})}" th:text ="${page}"></a>
                <span th:if="${page==params.page}" th:text ="${page}" th:class="on"></span>

            </th:span>
        </p>

        <!-- 다음 페이지 그룹으로 이동하는 링크 -->
        <a th:if="${params.pagination.existNextPage}" th:href="@{'/?page=' + ${params.pagination.endPage + 1}}" class="page_bt next">다음 페이지 그룹</a>

        <!-- 마지막 페이지로 이동하는 링크 -->
        <a th:if="${params.pagination.existNextPage}" th:href="@{'/?page=' + ${boardList.pagination.totalPageCount}}" class="page_bt last">다음 페이지 그룹</a>

    </div>


    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
        </div>
    </div>

</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>

